@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  direction: rtl;
}


.custom-border::before{
  content: "";
  position: absolute;
  top: -2px;
  left: 50%; /* شروع از وسط */
  width: 75%; /* نصف عرض باکس */
  height: 3px; /* ضخامت border */
  background: linear-gradient(90deg, transparent 0%, #5E94FF 100%);
  transform: translateX(-50%); /* برای تراز از وسط */
}


.custom-border-contact::before{
  content: "";
  position: absolute;
  top: 5%;
  left: 0;
  height: 90%;
  width: 2px; /* ضخامت خط */
  background-color: #182128; /* رنگ خط */
}


.glass-background{
  background: linear-gradient(180deg, rgba(9, 17, 25, 0.47) 0%, rgba(9, 17, 25, 0.22) 100%);
  backdrop-filter: blur(10px); /* محوشدگی پس‌زمینه */
  -webkit-backdrop-filter: blur(10px); /* پشتیبانی برای سافاری */
  border: 1px solid rgba(255, 255, 255, 0.2); /* حاشیه نیمه‌شفاف */
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* سایه برای عمق */
  z-index: 100 !important;
}


